{% extends "BaseView.twig" %}
{% block head %}
{% endblock head %}
{% block content %}
<div class="order-complete-container">
	<div class="borderframe success">
		U heeft succesvol betaald! <br>
		Download <a href="{{ ticket_url }}">hier</a> uw tickets.
	</div>
</div>
{% endblock content %}
{% block javascript %}

{% endblock javascript %}