{% extends "BaseView.twig" %}
{% block head %}
{% endblock head %}
{% block content %}
<div class="registration-complete-container">
	<div class="borderframe success">
		U bent succesvol geregistreerd!
	</div>
	{% include 'include/LoginView' %}
</div>
{% endblock content %}
{% block javascript %}

{% endblock javascript %}