<div class="login-container borderframe">
	<div class="borderframe error">
		Verkeerd wachtwoord of email adres!
	</div>
	<form class="login-form" method="post">
		<div class="form-group">
			<label for="email">Email adres</label>
			<input type="email" class="form-control email-login-input" name="email" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="password">Wachtwoord</label>
			<input type="password" class="form-control password-input" name="password" placeholder="Wachtwoord">
		</div>
		<div>
			<a href="register">Registreren</a>
		</div>
		<button type="submit" class="btn btn-default">Login</button>
	</form>
</div>