.borderframe {
    border: 2px solid #eaeaea;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}
.success {
    border: 2px solid #DFF2BF !important;
    color: #4F8A10;
    background-color: #DFF2BF;
}
.error {
	border: 2px solid #FFBABA !important;
    color: #D8000C;
    background-color: #FFBABA;

}
